<footer class="footer-wrapper">
  <div class="footer-container">
    <div class="footer-columns">
      <div class="footer-col">
        <ul class="footer-list">
          <li><a href="#" class="footer-link">Product & Solutions</a></li>
          <li><a href="#" class="footer-link">Services & Offerings</a></li>
          <li><a href="#" class="footer-link">News & Media</a></li>
          <li><a href="#" class="footer-link">CSR</a></li>
          <li><a href="#" class="footer-link">Sitemap</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="footer-header">About</h4>
        <ul class="footer-list">
          <li><a href="#" class="footer-link">Who we are</a></li>
          <li><a href="#" class="footer-link">Why Ashirvad</a></li>
          <li><a href="#" class="footer-link">Our Partners</a></li>
          <li><a href="#" class="footer-link">Our Accomplishments</a></li>
          <li><a href="#" class="footer-link">Ashirvad Cares</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="footer-header">Opportunities</h4>
        <ul class="footer-list">
          <li><a href="#" class="footer-link">Plumbing School</a></li>
          <li><a href="#" class="footer-link">Careers</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="footer-header">Resources</h4>
        <ul class="footer-list">
          <li><a href="#" class="footer-link">Help</a></li>
          <li><a href="#" class="footer-link">Our Take</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="footer-header">Contact Us</h4>
        <ul class="footer-list">
          <li>
            <div class="footer-link">info&#64;ashirvad.com</div>
            <div class="footer-link">customercare&#64;ashirvad.com</div>
          </li>
          <li>
            <div class="footer-link">080 28061000</div>
            <div class="footer-link">080 61342222</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copyright">© 2020 Ashirvad</div>
    </div>
  </div>
</footer> 