  <div class="navHeader__wrapper">
    <div class="container">
      <div class="navHeader__topLayer">
        <a class="navHeader__logoWrapper" href="/">
          <img alt="ashirvad--logo" class="navHeader__logoImg" src="assets/ashirvad-logo.svg" />
        </a>
        <div class="navHeader__right">
          <div class="nav_item_water_tank">
            <a class="nav_link hide-main-nav" href="/water-storage-tank" target="_blank">Ashirvad Tanks</a>
            <a class="nav_link" href="https://bim.ashirvad.com/" target="_blank"><span>new</span> Online BIM Library</a>
          </div>
          <div class="navHeader__searchTerm">
            <form action="/search" method="get" role="search">
              <div class="searchTerm__wrapper">
                <img alt="searchTermicon" class="searchTerm--icon"  (click)="toggleInput()" src="assets/search-icon.svg" />
                <input *ngIf="showInput" id="searchTerm--input" name="s" placeholder="Search" type="text" class="searchTerm--icon"/>
              </div>
            </form>
          </div>
          <div class="navHeaderProfile__wrap">
            <div class="navHeader__profile">
              <div class="navHeader__profileWrapper">
                <img alt="profile--avatar" class="profile--avatar" src="assets/avatar-logo.svg" />
              </div>
              <div class="profileDropdown preLogin d-none">
                <button class="btn btn-primary">Login</button>
              </div>
            </div>
          </div>
          <div class="navbarHeader__hamburger">
            <div class="hamburger__icon"></div>
          </div>
        </div>
      </div>
      <app-header-bottom></app-header-bottom>
    </div>
  </div>
