  <div class="navHeader__wrapper header-scroll">
    <div class="container">
      <div class="navHeader__topLayer">
        <a class="navHeader__logoWrapper" href="/">
          <img alt="ashirvad--logo" class="navHeader__logoImg" src="assets/poddar/poddar-logo.png" />
        </a>
        <app-header-bottom [mobileMenuOpen]="mobileMenuOpen" (closeMobileMenu)="closeMobileMenu()"></app-header-bottom>
      </div>
    </div>
    
    <!-- Mobile Menu Overlay -->
    <div class="mobile-menu-overlay" [class.active]="mobileMenuOpen" (click)="closeMobileMenu()"></div>
  </div>
