<div class="navHeader__itemWrapper" [class.mobile-menu-open]="mobileMenuOpen">
  <ul class="navHeader__list resp">
    <li class="navHeader__itemList">
      <app-nav-dropdown
        label="About us"
        [items]="aboutItems"
        [open]="openDropdown === 'about'"
        (openMenu)="!isMobile && openMenu('about')"
        (closeMenu)="!isMobile && closeMenu()"
        (toggleMenu)="isMobile && toggleMenu('about')">
      </app-nav-dropdown>
    </li>
    <li class="navHeader__itemList">
      <app-mega-menu
        label="Products and Solutions"
        [menu]="productsColumns"
        [open]="openDropdown === 'products'"
        (openMenu)="!isMobile && openMenu('products')"
        (closeMenu)="!isMobile && closeMenu()"
        (toggleMenu)="isMobile && toggleMenu('products')">
      </app-mega-menu>
    </li>
    <li class="navHeader__itemList">
      <app-nav-dropdown
        label="Services & Offerings"
        [items]="servicesItems"
        [open]="openDropdown === 'services'"
        (openMenu)="!isMobile && openMenu('services')"
        (closeMenu)="!isMobile && closeMenu()"
        (toggleMenu)="isMobile && toggleMenu('services')">
      </app-nav-dropdown>
    </li>
    <li class="navHeader__itemList">
      <app-nav-dropdown
        label="Careers"
        [items]="careersItems"
        [open]="openDropdown === 'careers'"
        (openMenu)="!isMobile && openMenu('careers')"
        (closeMenu)="!isMobile && closeMenu()"
        (toggleMenu)="isMobile && toggleMenu('careers')">
      </app-nav-dropdown>
    </li>
    <li class="navHeader__itemList">
      <a class="navHeader--title" routerLink="/news-and-media" (click)="onCloseMobileMenu()">News &amp; Events</a>
    </li>
    <li class="navHeader__itemList">
      <a class="navHeader--title" routerLink="/csr" (click)="onCloseMobileMenu()">CSR</a>
    </li>
    <li class="navHeader__itemList">
      <app-nav-dropdown
        label="Resources"
        [items]="resourcesItems"
        [open]="openDropdown === 'resources'"
        (openMenu)="!isMobile && openMenu('resources')"
        (closeMenu)="!isMobile && closeMenu()"
        (toggleMenu)="isMobile && toggleMenu('resources')">
      </app-nav-dropdown>
    </li>
    <li class="navHeader__itemList">
      <a class="navHeader--title" routerLink="/contact-us" (click)="onCloseMobileMenu()">Contact us</a>
    </li>
  </ul>
</div>