<div class="home-wrapper">
  <section class="banner__wrapper banner__wrapper_no-subheader">
    <app-banner></app-banner>
  </section>

  <section class="products__solutions">
    <!-- <app-products-tabs></app-products-tabs> -->
     <div class="heading-wrapper aos-init aos-animate" data-aos="fade-up">
       <h1>
        Ashirvad by Aliaxis
       </h1>
       <h2>
        Our Business Segments
       </h2>
       <p>
        As a pioneer in hot and cold plumbing systems, our portfolio features the widest range of PVC, UPVC, and CPVC pipes and fittings used across a variety of applications in different market segments.
       </p>
      </div>
    <app-product-tabs></app-product-tabs>
  </section>

  <section class="container-fluid tabs__container section__padding">
    <app-advantage-tabs></app-advantage-tabs>
  </section>

  <section class="counter__section">
    <app-counter-section></app-counter-section>
  </section>

  <section class="container-fluid award-swiper section-pad">
    <app-awards-swiper></app-awards-swiper>
  </section>

  <section class="our_projects py-80">
    <app-projects></app-projects>
  </section>

  <section class="ashirvad-innovations resources_section py-80">
    <app-innovations-swiper></app-innovations-swiper>
  </section>

  <section class="home-section-5">
    <app-testimonial-swiper></app-testimonial-swiper>
  </section>

  <section class="container-fluid v__card__container">
    <app-plumbing-school></app-plumbing-school>
  </section>
</div>
