<div class="home-wrapper">
  <section class="banner__wrapper banner__wrapper_no-subheader" appAnimateOnScroll>
    <app-banner></app-banner>
  </section>

  <!-- <app-curved-divider></app-curved-divider> -->

  <section class="products__solutions" appAnimateOnScroll>
     <div class="heading-wrapper aos-init aos-animate" data-aos="fade-up">
       <h1>
        Ashirvad by Aliaxis
       </h1>
       <h2>
        Our Business Segments
       </h2>
       <p>
        As a pioneer in hot and cold plumbing systems, our portfolio features the widest range of PVC, UPVC, and CPVC pipes and fittings used across a variety of applications in different market segments.
       </p>
      </div>
    <app-product-tabs></app-product-tabs>
  </section>

  <section class="container-fluid tabs__container section__padding" appAnimateOnScroll>
    <app-advantage-tabs></app-advantage-tabs>
  </section>

  <section class="counter__section" appAnimateOnScroll>
    <app-counter-section></app-counter-section>
  </section>

  <section class="container-fluid award-swiper section-pad" appAnimateOnScroll>
    <app-awards-swiper></app-awards-swiper>
  </section>

  <section class="our_projects py-80" appAnimateOnScroll>
    <app-projects></app-projects>
  </section>

  <section class="ashirvad-innovations resources_section py-80" appAnimateOnScroll>
    <app-innovations-swiper></app-innovations-swiper>
  </section>

  <section class="home-section-5" appAnimateOnScroll>
    <app-testimonial-swiper></app-testimonial-swiper>
  </section>

  <section class="container-fluid v__card__container" appAnimateOnScroll>
    <app-plumbing-school></app-plumbing-school>
  </section>
</div>
